.hero {
    position: relative;
    display: flex;
    text-align: center;

    padding: 40px 20px;
}
.hero-links {
    position: absolute;

    bottom: 40px;
    left: 50%;
    display: flex;
    gap: 50px;

    align-items: center;

    transform: translateX(-50%);

    text-align: center;
}

.social-logo {
    width: 60px;
    height: 60px;

    object-fit: contain;

    transition: 0.3s;
}
.social-logo:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.ttk-logo {
    width: 200px;
    height: 200px;

    object-fit: contain;

    transition: 0.3s;
}   
.ttk-logo:hover {
    transform: scale(1.1);
    opacity: 0.8;
}   
.hero-image {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text h1 {
    font-size: 4rem;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 1.5rem;
}
